<!DOCTYPE html>
<!-- layout dialect -->
<html xmlns:th       ="http://www.thymeleaf.org"
      xmlns:sec      ="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout   ="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
	  lang           ="ko-kr">
<head>
<meta charset="UTF-8">
<title>관리자 화면</title>

<!-- bootstrap icons :  -->
<link rel="stylesheet" th:href="@{/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css}">

<!-- AJAX library axios -->
<script th:src="@{'/axios/1.7.4/dist/axios.min.js'}"></script>

<!-- 관리자 모드 Javascript -->
<script th:src="@{'/js/admin_viewAll.js'}" charset="UTF-8"></script>


</head>
<body>

	<!-- layout template 적용 : class="main_sect_pnl" -->
	<div layout:fragment="content" class="main_sect_pnl">

		<div class="content_sect_pnl">

			<!-- (검색할) 회원 정보가 없을 경우 -->
			<div th:if="${#lists.isEmpty(members)}">

				<script>
					alert('검색 결과가 없습니다.')
				</script>

			</div>
			<!--// (검색할) 회원 정보가 없을 경우 -->

			<!-- (검색할) 회원 정보가 있을 경우 -->

			<!--
				인자 현황판 (collapse)
				: https://getbootstrap.com/docs/5.3/components/collapse/
			-->
			<div id="demo" class="collapse" th:if="${#lists.isEmpty(members) == false}">

				<table class="table table-sm table-striped ">
					<tr>
					    <th style="width:150px;">총 인원 수</th><td th:text="${pageVO.listCount}"></td>
						<th style="width:150px;">이전 페이지</th><td th:text="${pageVO.previousPage}"></td>
						<th style="width:150px;">현재 페이지</th><td th:text="${pageVO.currentPage}"></td>
						<th style="width:150px;">이후 페이지</th><td th:text="${pageVO.nextPage}"></td>
						<th style="width:150px;">처음 페이지</th><td th:text="${pageVO.startPage}"></td>
						
						<th style="width:150px;">마지막 페이지</th><td th:text="${pageVO.endPage}"></td>
					</tr>
					<tr th:each="member, st : ${members}">
						<th colspan="1">회원 정보</th>
						<td colspan="11">
							<span th:text="${member}"></span><br>
						</td>
					</tr>
				</table>
			</div>

			<h2 class="d-flex justify-content-center m-5">
				회원 관리
				<!-- 인자 현황 버튼 이동 -->
				&nbsp;<button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">인자 현황</button>
			</h2>

			<!-- 회원정보 시작 -->
			<table class="table table-sm mx-2 mx-auto table-hover" style="width:95vw">
				<thead class="table-dark">
					<tr>
						<th style="width:40px;">번호</th>
						<th>아이디</th>
						<th style="width:70px;">이름</th>
						<th>성별</th>
						<th>이메일</th>
						
						<th>휴대폰</th>
						<th style="width:120px;">생일</th>
						<th>가입일</th>
						<th>등급(role)</th>
						<th>&nbsp;</th>
						
						<th>활동여부</th>
						<th>&nbsp;</th>
						<th>메뉴</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(members) && pageVO.listCount > 0}" th:each="member, st : ${members}">
					
						<td th:text ="${st.count + (pageVO.currentPage - 1) * 10}"></td>
						<td th:utext="${member.get('ID')}"></td>
						<td th:utext="${member.get('NAME')}"></td>
						<td th:utext="${member.get('GENDER') == 'm' ? '남' : '여'}"></td>
						<td th:utext="${member.get('EMAIL')}"></td>

						<td>
							<input type     ="text" th:value="${member.get('PHONE')}"
								   th:id    ="${'phone_' + member.get('ID')}"
								   th:name  ="${'phone_' + member.get('ID')}"
								   readonly
								   style    ="border:0"
								   
								   size     ="13"
								   maxlength="13" />
						</td>

						<td th:utext="${#dates.format(member.get('BIRTHDAY'), 'yyyy년 MM월 dd일')}"></td>
						<td th:utext="${#dates.format(member.get('JOINDATE'), 'yyyy년 MM월 dd일 HH:mm:ss')}"></td>

						<!-- 등급(role) : 체크 박스로 표기
							 - bootstrap checkbox
							 : https://getbootstrap.com/docs/5.3/forms/checks-radios/#checks -->
						<td>
							<div class="form-check">

								<!-- 회원은 여기서는 비 회원 전환 처리하지 불가능하도록 disabled, readonly 처리  -->
								<label class ="form-check-label"
									   th:for="${'role1_' + member.get('ID')}">회원</label>

								<input type      ="checkbox" class="form-check-input"
									   th:id     ="${'role1_' + member.get('ID')}"
									   name      ="role" value="ROLE_USER"
									   th:checked="${#strings.contains(member.get('ROLE'),'ROLE_USER')}"
									  >
								<!-- 편집 불가능한 상태가 되려면 아래의 속성 추가 등록 -->
								<!-- disabled readonly -->
								<br>

								<label class ="form-check-label"
									   th:for="${'role2_' + member.get('ID')}">관리자</label>

								<input type      ="checkbox" class="form-check-input"
									   th:id     ="${'role2_' + member.get('ID')}"
									   name      ="role" value="ROLE_ADMIN"
									   th:checked="${#strings.contains(member.get('ROLE'),'ROLE_ADMIN')}">
							</div>
						</td>

						<td>
							<button type="button" th:id="${'role_update_btn_' + member.get('ID')}" class="btn btn-sm btn-outline-primary">변경</button>
						</td>

						<!--// 등급(role) -->

						<!-- 활동 여부 : 스위치 checkbox 활용
							 - bootstrap switch
							 : https://getbootstrap.com/docs/5.3/forms/checks-radios/#switches -->
						<td>
							<div class="form-check form-switch">

								<label th:id  ="${'label_enabled_' + member.get('ID')}" th:for="${'enabled_' + member.get('ID')}" class="form-check-label"
									   th:text="${member.get('ENABLED') == 1 ? '활동' : '휴면'}"></label>

								<input type      ="checkbox" class="form-check-input" name="enabled"  th:id="${'enabled_' + member.get('ID')}"
									   th:value  ="${member.get('ENABLED')}"
									   th:checked="${member.get('ENABLED') == 1}">

							</div>
						</td>

						<td>
							<button type="button" th:id="${'enabled_update_btn_' + member.get('ID')}" class="btn btn-sm btn-outline-primary">변경</button>
						</td>

						<!--// 활동 여부 -->

						<!-- 메뉴 -->
						<td>
							<button class="btn btn-sm btn-primary" th:id="${'update_btn' + member.get('ID')}">수정</button>&nbsp;
							<button class="btn btn-sm btn-primary" th:id="${'delete_btn' + member.get('ID')}">삭제</button>
						</td>
						<!--// 메뉴 -->

					</tr>

					<tr th:if="${#lists.isEmpty(members) && pageVO.listCount == 0}">
						<td colspan="17">
							<div  class="d-flex justify-content-center align-items-center w-100" style="height:50vh">
								<b>검색된 회원 정보 없음</b>
							</div>
						</td>
					</tr>
				</tbody>

			</table>

			<!-- 회원정보 끝 -->

			<!-- 페이징 -->
			<!-- 검색이 아닌 경우 -->
			<div class="d-flex justify-content-center mt-4" th:if="${#strings.isEmpty(searchKey)}">
				<nav aria-label="Page navigation example">
				  <ul class="pagination">

				    <!--  첫 페이지 -->
				    <li class="page-item">
				      <a class="page-link" th:href="@{/admin/viewAllWithRoles?currentPage=1}" aria-label="Start">
				        <span aria-hidden="true">&Lt;</span>
				      </a>
				    </li>

				    <!-- 이전 페이지 -->
				    <li class="page-item">
				      <!-- <a class="page-link" th:href="@{'/admin/viewAllWithRoles?currPage='+${pageVO.currPage-1 < 1 ? 1 : pageVO.currPage-1}}" aria-label="Previous"> -->
				      <a class="page-link" th:href="@{'/admin/viewAllWithRoles?currentPage='+${pageVO.previousPage}}" aria-label="Previous">
				        <span aria-hidden="true">&lt;</span>
				      </a>
				    </li>

				    <!-- 현재 페이지 -->
				    <li class="page-item active">
				    	<a class="page-link" th:href="@{'/admin/viewAllWithRoles?currentPage='+${pageVO.currentPage}}" th:utext="${pageVO.currentPage}"></a>
			    	</li>

				    <!-- 다음 페이지 -->
				    <li class="page-item">
				      <!-- <a class="page-link" th:href="@{'/admin/viewAllWithRoles?currPage='+${pageVO.currPage+1 > pageVO.endPage ? pageVO.endPage : pageVO.currPage+1}}" aria-label="Next"> -->
				      <a class="page-link" th:href="@{'/admin/viewAllWithRoles?currentPage='+${pageVO.nextPage}}" aria-label="Next">
				        <span aria-hidden="true">&gt;</span>
				      </a>
				    </li>

				    <!-- 마지막 페이지 -->
				    <li class="page-item">
				      <a class="page-link" th:href="@{'/admin/viewAllWithRoles?currentPage='+${pageVO.endPage}}" aria-label="End">
				        <span aria-hidden="true">&Gt;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
			<!--// 검색이 아닌 경우 -->

			<!-- 검색인 경우 -->
			<div class="d-flex justify-content-center mt-4" th:if="${!#strings.isEmpty(searchKey)}">
				<nav aria-label="Page navigation example">
				  <ul class="pagination">

				    <!--  첫 페이지 -->
				    <li class="page-item">
				      <a class="page-link"
				      	 th:href="@{'/admin/seacrhAllWithRoles?currentPage=1&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" aria-label="Start">
				        <span aria-hidden="true">&Lt;</span>
				      </a>
				    </li>

				    <!-- 이전 페이지 -->
				    <li class="page-item">
				      <a class="page-link" th:href="@{'/admin/seacrhAllWithRoles?currentPage='+${pageVO.previousPage}+'&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" aria-label="Previous">
				        <span aria-hidden="true">&lt;</span>
				      </a>
				    </li>

				    <!-- 현재 페이지 -->
				    <li class="page-item active">
				    	<a class="page-link" th:href="@{'/admin/seacrhAllWithRoles?currentPage='+${pageVO.currentPage}+'&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" th:utext="${pageVO.currentPage}"></a>
			    	</li>

				    <!-- 다음 페이지 -->
				    <li class="page-item">
				      <a class="page-link" th:href="@{'/admin/seacrhAllWithRoles?currentPage='+${pageVO.nextPage}+'&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" aria-label="Next">
				        <span aria-hidden="true">&gt;</span>
				      </a>
				    </li>

				    <!-- 마지막 페이지 -->
				    <li class="page-item">
				      <a class="page-link" th:href="@{'/admin/seacrhAllWithRoles?currentPage='+${pageVO.endPage}+'&searchKey='+${searchKey}+'&searchWord='+${searchWord}}" aria-label="End">
				        <span aria-hidden="true">&Gt;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
			<!--// 검색인 경우 -->
			<!--// 페이징 -->

			<!-- 검색 -->
			<!-- 간격 : mt-2 mb-5, 줄 단위 배치 : row, 레이아웃 배분 비율 : ex) col-3 -->
			<form th:action="@{/admin/seacrhAllWithRoles}" method="get">

				<div id="search_pnl" class="mx-auto row mt-2 mb-5" style="width:50vw">

					<div id="select_pnl" class="col-2 pe-0">
						<select class="form-select" id="searchKey" name="searchKey" aria-label="검색 구분">
						
						  <option selected value="id">아이디</option>
						  <option value="name">이름</option>
						  <option value="gender">성별</option>
						  <option value="email">이메일</option>
						  <option value="phone">휴대폰</option>
						  
						  <option value="birthday">생일</option>
						  <option value="joindate">가입일</option>
						  <option value="role">등급(role)</option>
						</select>
					</div>

					<div id="search_pnl" class="col-4">
						<!-- <input type="text" class="form-control" id="searchWord" name="searchWord" placeholder="등급) 관리자, 회원" /> -->
						<input type="text" class="form-control" id="searchWord" name="searchWord" placeholder="8~20자로 영문/숫자로 작성합니다" />

					</div>

					<div id="search_btn_pnl" class="col-1 ps-0">
						<button id="search_btn" class="btn btn-primary">
							<!-- bootstrap icon
							     : https://icons.getbootstrap.com/icons/search/  -->
							<i class="bi bi-search"></i>
						</button>

					</div>

					<div id="list_btn_pnl" class="col-3 ps-0">
						<a class="btn btn-primary" th:href="@{/admin/viewAllWithRoles}">
							전체 회원 목록
						</a>
					</div>
				</div>

			</form>
			<!--// 검색 -->

			<!--// (검색할) 회원 정보가 있을 경우 -->

		</div>
		<!--// content -->

	</div>
	<!--// layout -->

</body>
</html>