<html lang="ko"
      xmlns:th  ="http://www.thymeleaf.org"
      xmlns:sec ="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
 <!--
        참고)

        - Spring Security/Thymeleaf
        : https://github.com/thymeleaf/thymeleaf-extras-springsecurity

        - Spring Security : Auth Method(인증/인가 관련 메서드)
        : www.classum.com/main/space/126296/community/396-->



<div th:fragment="header">
authentication:[[${#authentication}]] <br>
socialUser:[[${session.socialUser}]] <br>
loginErrorCount: [[${session.loginErrorCount}]] <br>

<script type="text/javascript">

	var naverLoginPopup;

	function openPopUp() {
		let maxX = screen.availWidth;
		let maxY = screen.availHeight;

		console.log("maxX = ", maxX, ", maxY = ", maxY);

		naverLoginPopup = window.open("https://nid.naver.com/nidlogin.logout", "_blank",
									  "toolbar=0,scrollbars=0,resizable=0,toolbar=0,location=0," +
									  "status=0,menubar=0,width=1,height=1," + 'left=${maxX}, top=${maxY}');
	}

	function naverLogout() {
		console.log("naverLogout()");
		openPopUp();

		setTimeout(function() {

			naverLoginPopup.close();
			alert("로그아웃 되었습니다");
			location.href = "/healthyFoodProject/logoutProc";

		}, 1000); <!-- 1초 후에 팝업을 닫고 로그아웃  -->
	}

</script>

        <div class="header_sect_pnl" style="background-color:cyan">

        <!-- id:[[${#authentication.name}]] <br>
        authentication: [[${#authentication}]] <br>
        user: [[${session.user==null}]] <br>
		socialUser: [[${session.socialUser==null}]] <br> -->

                <ul id="main_menu">

                     <li><a th:href="@{/}">Home</a></li>

                     <!-- 로그인 인증이 안되었을 때  -->
                     <li sec:authorize="isAnonymous()"><a th:href="@{/loginForm}">로그인</a></li>

                     <li sec:authorize="isAnonymous()"><a th:href="@{/join}">회원 가입</a></li>

					 <!-- 로그아웃 -->
                     <div sec:authorize="isAuthenticated()">

						<!-- 자체 로그아웃 -->
						<li th:if="${session.socialUser == null}">
							<a th:href="@{/logoutProc}">로그아웃(자체)</a>
						</li>

						<span th:if="${session.socialUser != null}">

						<!-- Google 로그아웃 -->
						<li th:if="${session.socialUser.authVendor != 'naver'}">
							<a th:href="@{/logoutProc}">로그아웃(google)</a>
						</li>

						<!--  Naver 로그아웃 -->
						<li th:if="${session.socialUser.authVendor == 'naver'}">
							<a href="#" onclick="naverLogout()">로그아웃(Naver)</a>
						</li>

						</span>

					</div>

					<!-- 식단 -->
					<div sec:authorize="isAuthenticated()">

						<!-- 자체 로그아웃 -->
						<li th:if="${session.socialUser == null}">
							<a th:href="@{'/foodMenu/view?strId='+${#authentication.name}}">식단(자체)</a>
						</li>

						<span th:if="${session.socialUser != null}">

						<!-- Google 로그아웃 -->
						<li th:if="${session.socialUser.authVendor != 'naver'}">
							<a th:href="@{'/foodMenu/viewSocial'}">식단(google)</a>
						</li>

						<!--  Naver 로그아웃 -->
						<li th:if="${session.socialUser.authVendor == 'naver'}">
							<a th:href="@{'/foodMenu/viewSocial'}">식단(Naver)</a>
						</li>

						</span>

					</div>

					<!-- 회원정보 조회 -->
					<div sec:authorize="isAuthenticated()">

						<!-- 자체 로그아웃 -->
						<li th:if="${session.socialUser == null}">
							<a th:href="@{/member/view}">회원정보 조회(자체)</a>
						</li>

						<span th:if="${session.socialUser != null}">

						<!-- Google 회원 조회 -->
						<li th:if="${session.socialUser.authVendor != 'naver'}">
							<a th:href="@{/member/viewSocial}">회원정보 조회(google)</a>
						</li>

						<!--  Naver 회원 조회 -->
						<li th:if="${session.socialUser.authVendor == 'naver'}">
							<a th:href="@{/member/viewSocial}">회원정보 조회(Naver)</a>
						</li>

						</span>

					</div>

					<!-- 자체로그인 회원은 수정 가능, 소셜 로그인은 수정 불가 -->
                    <li sec:authorize="isAuthenticated()" th:if="${session.socialUser == null}">
                    	<a th:href="@{/member/update}">회원정보 수정</a>
                    </li>

                     <!-- 등급(롤:role)이 관리자일 경우 -->
                     <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/viewAllWithRoles}">회원 관리</a></li>

                </ul>
        </div>
 </div>

