<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_home}"
      lang="ko">
 <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>메인</title>

</head>

<body>
<div layout:fragment="content">
 <div id="container">    
		<h1>당뇨란</h1>
		<h2>당뇨는 당뇨다</h2>
    </div>
  </div> 
</body>
</html>