<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko-kr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>회원가입</title>

	<link th:href="@{/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet" />
	<script th:src="@{/bootstrap/5.3.3/js/bootstrap.min.js}"></script>

	<!-- AJAX library axios -->	
	<script th:src="@{'/axios/1.7.4/dist/axios.min.js'}"></script>

	<!-- 메시징 -->
 	<script th:inline="javascript" th:if="${msg != null}">
		alert([[${msg}]]);	</script>

</head>
<body>
	<div class="container mt-5">
		<h2 class="my-3">회원 가입</h2>
		<form id="frm" th:action="@{'/member/joinProcDemo'}" method="post" autocomplete="off" th:object="${memberDTD}">
			
			<div class"mb-3">
				<label for="id" class="form-label">아이디</label>
				<input type="text" class="form-control" id="id" name="id" maxlength="20" value="spring1111"/>
			</div>
			
			<div class"mb-3">
				<label for="pw" class="form-label">비밀번호</label>
				<input type="text" class="form-control" id="pw" name="pw" maxlength="20" value="#Abcd1111"/>
			</div>
			
			<div class"mb-3">
				<label for="name" class="form-label">이름</label>
				<input type="text" class="form-control" id="name" name="name" maxlength="20" value="김지은"/>
			</div>
			
			<div class"mb-3">
				<label class="form-label">성별</label>
				<div>
					<input type="radio" id="radioM" name="gender" value="남자"/>
					<label for="radioM">남자</label>	
					<input type="radio" id="radioF" name="gender" value="여자" checked/>
					<label for="radioM">여자</label>			
				</div>
			</div>
			
			<div class"mb-3">
				<label for="email" class="form-label">이메일</label>
				<input type="email" class="form-control" id="email" name="email" value="spring1111@abcd.com"/>
			</div>
			
			<div class"mb-3">
				<label for="phone" class="form-label">연락처(휴대폰)</label>
				<input type="text" class="form-control" id="phone" name="phone" placeholder="예시) 010-1234-5678" value="010-7777-1234"/>
			</div>
			
			<div class="mb-3">
                <label for="birthday" class="form-label">생년월일</label>
                <input type="date" class="form-control" id="birthday" name="birthday" value="1998-01-01" />
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary me-2" id="submit_btn" type="submit">회원 가입</button>
                <button class="btn btn-secondary" id="reset_btn" type="reset">취소</button>
            </div>
		</form>
	</div>
	
</body>
</html>