<!DOCTYPE html>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				   layout:decorate="~{layout_login}" >
<head>
<meta charset="UTF-8">
<title>myPage</title>
</head>
<body>
		<div layout:fragment="content" class = "main_sect_pnl">
		
		<div sec:authorize="isAuthenticated()">
			<b>
			<span th:if="${session.socialUser == null}" sec:authentication="name"></span>
			
			<!-- OAuth에 따른 별도 조치 -->
			<!-- Naver -->
			<span th:if="${session.socialUser != null}">

				<span th:if="${session.socialUser.authVendor == 'naver'}" th:text="${session.socialUser.email}"></span>

				<!-- Google -->
				<span th:if="${session.socialUser.authVendor == 'google'}" th:text="${session.socialUser.name}"></span>

			</span>

			<span>님 로그인 하셨습니다.</span>
			</b>
			
			<input type = "button" value="로그아웃" th:onclick="|location.href='@{/logoutProc}'|" />
			
		</div>
		
		</div>
		
		
</body>
</html>