<!DOCTYPE html>
<html lang="ko-kr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
				   layout:decorate="~{layout_login}" >
<head>
<meta charset="UTF-8">
<title>myPage</title>
</head>
<body>
		<div layout:fragment="content" class = "main_sect_pnl">
		<!-- user: [[${session.user==null}]] <br>
		socialUser: [[${session.socialUser==null}]] <br> -->

		<div sec:authorize="isAuthenticated()">
			<b>
			<span th:if="${session.user == null}" sec:authentication="name"></span>

			<!-- OAuth에 따른 별도 조치 -->
			<!-- Naver -->
			<span th:if="${session.socialUser != null}">

				<span th:if="${session.socialUser.authVendor == 'naver'}" th:text="${session.socialUser.email}"></span>

				<!-- Google -->
				<span th:if="${session.socialUser.authVendor == 'google'}" th:text="${session.socialUser.name}"></span>

			</span>

			<span>님 로그인 하셨습니다.</span>
			</b>

			<input type = "button" value="로그아웃" th:onclick="|location.href='@{/logoutProc}'|" />

		</div>

		<!--social (google) 인증시 성별/생일 입력란 생성: 기존값 없음 -->
		<div th:if="${session.socialUser != null}">
			<div  th:if="${session.socialUser.authVendor == 'google' && session.socialUser.gender == '없음' && session.socialUser.birthyear == '없음'}">
				<form method="post" th:action="@{/member/updateGoogle}">
					성별 여<input type="radio" name="gender" value="F" required>
					   남<input type="radio" name="gender" value="M" required>
					생일 <input type="date" name="birthyear" pattern="\d{4}-\d{2}-\d{2}"  title="2000-01-01 형식으로 생일을 입력하십시오" required>
					<input type="hidden" name="email" th:value="${session.socialUser.email}">
					<input type="hidden" name="name" th:value="${session.socialUser.name}">
					<input type="submit" value="저장">
				</form>
			</div>
		</div>

	</div>

</body>
</html>